node_modules/
.env
*.log
npm-debug.log*
.DS_Store
dist/
build/
uploads/
*.local

# Backend
backend/node_modules/
backend/.env
backend/uploads/

# Frontend
frontend/node_modules/
frontend/.env
frontend/build/
